

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap');


* {
  
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #0E1116;
  color: aliceblue;
  
}

.App {
  text-align: center;
  padding: 50px;
  background-color: #0E1116;

}

.image{
  width: 80%;
  height: 20rem;
  
}

.header{
  
  width: 100rem;
  height: 20rem;
  background-size: contain;
  
 
}

.header > img{
  
  
  
}


.logo{
  display: flex;
  justify-content: center;
}
.logo > img{

  padding: 4rem;
  
}

.searchbox{

  width: 100%;
  height: 2rem;
  color: #69C8ECFF;
  display: flex;
  justify-content: center;
}


.name{
  padding-top: 1rem;
  color: #B7E4F9FF;
  text-align: center;
  font-size: 4rem;
}

.locationinfo{
  
  color: #69C8ECFF;
  padding-top: 1rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.locationinfo > a{
  padding-left: 2rem;
}



.name-resident{
  padding-bottom: 1rem;
}

.characterlist {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.characterlist li {
  padding: 10px;
  width: 33.33333%;
}

.characterlist li .card {

 
  border: 1px solid #3a4767;
  padding: 10px;
  border-radius: 10px;
}

.characterlist li .card img {
  width: 100%;
}


.subtitles{
  color: aqua;
  font-weight: 600;
}

@media (max-width: 600px){

  .image{
    width: 70%;
  }


}


  
